* {
    margin: 0;
    padding:0;
    }
    html, body {
        
        width:100%;
        
        font-size:62.5%;
        font-family:Arial, Helvetica, sans-serif;
    }


.search {
    width:600px;
    height:40px;
    font-size: 20px;
     
}
#googlelogos{
    position: relative;
    top:200px;
    left:520px;

}
.s1, .l1{
    width:200px;
    background: rgb(235,233,233);
    font-size: 18;
    border-radius: 1;   
    
}
.s1:hover ,.l1:hover{
    color:black;

}
.submit {
    width:200px;
    color:rgb(96,96,96);
    margin-right :10;
    margin-left:70;
 
}
.lucy{
    width:200px;
    color:rgb(96,96,96);
    margin-left:5;
   margin-right:20;

}

.form {
    font-size:25px;
    width: 600px;
    height:110px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin:105 300 0 380;
    
    position: relative;
    top:130px;
}
#navbar{
 
    width:345px;
    height:25px;
   
    font-size: 15px;
    margin: 0;
    padding:0;
  
}
.list1 li {
 list-style-type: none;
 padding:0 3px;
 
display: inline;
position: relative;
bottom:290px;
left:950px;

 }
 .list1 li a{
     text-decoration: none;
     color:black;
 }
 #foot {
    clear:both;
    height:50px;
    width:100%;
    position: absolute;
    margin-bottom:0;
    color:rgb(96,96,96);
    
 }
   
.left li, .right li {
    display: inline;
    list-style-type: none;
    padding:0;
    text-decoration: none;
    color:rgb(96,96,96);
}
.right li{
    float :right;
    margin-bottom:0;
    
}

.left li {
    float:left;
    margin-bottom:0;
}
.left li a, .right li a {
    text-decoration: none;
    color:rgb(96,96,96);
    padding:3;
}
#footer {
    border: 1px solid grey;
    width:100%;
    height:35px;
    font-size:15px;
    background:  rgba(0, 0, 0, 0.082);
    margin-bottom:-2;
    padding:0;
     
}
#h3{
    font-size:15px;
    font-weight: inherit;
    border:1px solid grey;
    width:100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.082);
    margin-top:219px;
    padding:0;
    
}
#navbar li a:hover ,#footer li a:hover {
    
    text-decoration: underline;
}